@*
*@
@{
    <h3>Новая картинка в профиль</h3>
    <form method="post" action="addpic">
        <input type="file" class="form-control" name="addpic" placeholder="Картинка" />
        
        <input type="submit" class="btn btn-primary" value="Добавить" />
    </form>
}
