@*
*@
@{
    <h3>Новая запись в профиль</h3>
    <form method="post" action="addrecord">
        <input type="text" class="form-control" name="title" placeholder="Заголовок" />
        <textarea name="fulltext" class="form-control" maxlength="1024"></textarea>
        <input type="submit" class="btn btn-primary" value="Добавить" />
    </form>
}
